.background {
  position: fixed;     /* KEY */
  top: 0;
  left: 0;

  width: 100vw;        /* use viewport units */
  height: 100vh;

  background-image: url("/public/background1.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.background {
  position: fixed;
  inset: 0;
}

